<!DOCTYPE >
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="./index.js"></script>
    <script
      type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.rawgit.com/prashantchaudhary/ddslick/master/jquery.ddslick.min.js"
    ></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="./index.js"></script>
    
    <title>{{ title }}</title>
  </head>
  <body>
    <section style="max-width: 300px; padding: 50px;">
      <nav>
        <ul>
          <!-- <li><a href="/signIn">Block Sign in</a></li> -->
          <li><a href="/signIn1">Block Sign in 1</a></li>
          <li><a href="/signIn2">Block Sign in password Recovery 1</a></li>
          <li><a href="/signIn3">Block Sign in password Recovery 2</a></li>
          <li><a href="/signIn4">Block Sign in password Recovery 3</a></li>
          <li><a href="/signUp">Blocks Sign up</a></li>
          <li><a href="/signUp1">Block Sign up 1</a></li>
          <li><a href="/signUp2">Block Sign up 2</a></li>
          <li><a href="/signUp3">Block Sign up 3</a></li>
          <li><a href="/signUp4">Block Sign up 4</a></li>
          <li><a href="/signUp5">Block Sign up 5</a></li>
          <li><a href="/signUp6">Block Sign up 6</a></li>
          <li><a href="/profilePersonal">Block Profile Personal</a></li>
          <li><a href="/profileAccount">Block Profile Account</a></li>
          <li><a href="/searchResults">Block Search Results</a></li>
          <li><a href="/searchMap">Block Search Map</a></li>
          <li><a href="/adminPage">Block Admin zone in process...</a></li>
          <li><a href="/index">All pages</a></li>
        </ul>
      </nav>
      <p>
        {{ name }}
      </p>
    </section>
    {% block signIn %} {% endblock %}
    {% block passwordRecovery1 %} {% endblock %}
    {% block passwordRecovery2 %} {% endblock %}
    {% block passwordRecovery3 %} {% endblock %}

    {% block signUp1 %} {% endblock %}
    {% block signUp2 %} {% endblock %}
    {% block signUp3 %} {% endblock %}
    {% block signUp4 %} {% endblock %}
    {% block signUp5 %} {% endblock %}
    {% block signUp6 %} {% endblock %}

    {% block profilePersonal %} {% endblock %}
    {% block profileAccount %} {% endblock %}

    {% block searchResults %} {% endblock %}
    {% block searchMap %} {% endblock %}
  </body>
</html>
