{% extends 'base.html' %}

{% block signUp6 %} 
<section class="container">
  <div class="header__content">
    <div class="header__logo"><img src="./img/Group.svg" alt="logo"/><span> </span><img src="./img/Group 81.svg" alt="logo text"/></div>
    <div class="header__login">Already have an account? 
      <button class="header__btn">Log In</button>
    </div>
  </div>
  <div class="form__email ta-c"><img src="./img/email-3.svg" width="150px" height="170px" alt="email pic"/>
    <div class="form__title">You are almost ready to go!</div>
    <p>Please check your email to reset your password</p>
    <div class="form__circle-small"> </div>
    <div class="form__circle-middle"></div>
    <div class="form__circle-big"></div>
  </div>
</section>
{% endblock %}