{% extends 'base.html' %}

{% block passwordRecovery3 %} 
<section class="container">
  <div class="header__content">
    <div class="header__logo">
      <img src="./img/Group.svg" alt="logo"/>
      <span>&nbsp;</span>
      <img src="./img/Group 81.svg" alt="logo text"/>
    </div>
    <div class="header__login">Do not have an account? 
      <button class="header__btn">Sign up</button>
    </div>
  </div>
  <div class="form__main">
    <div class="form__content">
      <div class="form__title">Reset your password</div>
      <form action="#" method="POST">
        <input class="form__imp" type="password" placeholder="New password"/>
        <input class="form__imp" type="password" placeholder="Confirm password"/>
      </form><br/><br/>
      <button class="form__btn">Reset</button>
    </div>
  </div>
</section>
{% endblock %}